.main-content.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.text-position-obje {
    position: absolute;
    left: 20px;
    bottom: 40%;
    transform: translateY(-30%);
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.text-position-tivo {
    position: absolute;
    left: 60px;
    bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

.custom-width {
    width: 100%;
}

.swiper-container {
    width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; /* Largura fixa */
    height: 400px; /* Altura fixa */
    object-fit: cover; /* Ajusta a imagem para cobrir o elemento */
}

.profile-image-container {
    width: 70px; 
    height: 70px; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid #c9480c;
    box-sizing: border-box; /* Inclui a borda nas dimensões do contêiner */
}

.profile-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz a imagem preencher o contêiner mantendo a proporção e cortando o excesso */
}
