:root {
    --primary-color: #1f2122;
    --secondary-color: #FF8C69;
    --background-color: #FFFFFF;
    --primary-text-color: #333333;
    --secondary-text-color: #777777;
    --action-color: #DAA520;
}
